
.artBox{width:300px;background:#fff;z-index:1986;display:none;*position:absolute;position:fixed;border-radius:4px;overflow:hidden;background:#fff;}
.artBox-close{position:absolute;right:8px;top:10px;display:block;width:20px;height:20px;text-align:center;line-height:20px;cursor:pointer;font-style:normal;color:#666;font-size:16px;}
.artBox-close:hover{color:#999;}
.artBox-title{margin:0;padding:5px 15px;border-bottom:1px solid #ddd;background:#eee;border-radius:4px 4px 0 0;}
.artBox-title h4{font-size:16px;}
.artBox-body{padding:5px 15px;max-height:600px;overflow-y:auto}
.artBox .controls{padding-top:3px;}
.artBox .controls *{vertical-align:middle}
.artBox .form-control{border-radius:0;}
.artBox hr{margin:10px 0}
.artBox .btn{font-size:16px;}

.artBox-overlay{width:100%;height:100%;background:#000;position:fixed;top:0;left:0;filter:alpha(opacity=60);opacity:0.6;z-index:1985;}

/*IE6 fixed*/
*html,*html body{background:url(about:blank) fixed;height:100%;}
*html .artBox-overlay{position:absolute;top:expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight);}
/*visibility:hidden;-*/