
.artBox{width:300px;background:#fff;z-index:1986;display:none;*position:absolute;position:fixed;border-radius:4px;overflow:hidden;background:#fff;}
.artBox-close{position:absolute;right:8px;top:10px;display:block;width:20px;height:20px;text-align:center;line-height:20px;cursor:pointer;font-style:normal;color:#666;font-size:16px;}
.artBox-close:hover{color:#999;}
.artBox-title{margin:0;padding:5px 15px;border-bottom:1px solid #ddd;background:#eee;border-radius:4px 4px 0 0;}
.artBox-title h4{font-size:16px;}
.artBox-body{padding:5px 15px;max-height:600px;overflow-y:auto}
.artBox .controls{padding-top:3px;}
.artBox .controls *{vertical-align:middle}
.artBox .form-control{border-radius:0;}
.artBox hr{margin:10px 0}
.artBox .btn{font-size:16px;}

.artBox-overlay{width:100%;height:100%;background:#000;position:fixed;top:0;left:0;filter:alpha(opacity=60);opacity:0.6;z-index:1985;}

/*IE6 fixed*/
*html,*html body{background:url(about:blank) fixed;height:100%;}
*html .artBox-overlay{position:absolute;top:expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight);}
/*visibility:hidden;-*/



.Dropdown-caretInner, .Dropdown-caretOuter {
    display: inline-block;
    left: 0;
    margin-left: -1px;
    position: absolute;
    top: -10px;
}
.Dropdown-caretOuter {
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.Dropdown-caretInner {
    border-bottom: 9px solid rgba(255, 255, 255, 0.98);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    left: 1px;
    top: 1px;
}

/* sidebar comments */
.r_comments{position:relative; height:262px;float: left;overflow: hidden;border: 1px solid #ccc;background: #3599ba;font-size: 14px;font-family: Microoft YaHei;}
.r_comments ul{list-style:none outside none; margin-left:0px; border-top:1px dashed #298bab;padding-left: 0}
.r_comments ul li{padding:5px 0px; line-height:20px; border-bottom:1px dashed #107495; border-top:1px dashed #4aaaca;}
.r_comments ul li a{color: #fff;}
.r_comments li img{background:#FFF; border:1px solid #1e7e9d; height:32px; float:left; padding:1px; margin:4px 4px 0 0;}

.imgslide{width:200px;height:200px;overflow:hidden;}
.imgslide ul{height:200px;list-style:none;padding:0;margin:0;position:relative;left:0;top:0;}
.imgslide ul li{width:100px;height:100px;background:#ccc;float:left;border:1px solid #f00;}

.imgslide .pager{position:absolute;left:0;bottom:0;}
