body{font-family:"Microsoft YaHei";font-size:62.5%;}



.gWel-tabs-list
.gWel-tabs-list-ext
.nui-ico-option,
.gWel-tabs-list
.gWel-tabs-list-ext-new
.nui-ico-option,
.gWel-option
.status,
.gWel-mailInfo-ico,
.gWel-ico{
    background-image:url(../img/wel/global.png);
    _background-image:url(../img/wel/global_ie6.gif);
    background-repeat:no-repeat;
    background-size:initial
}

.gWel-tabs-panel-ctrl
.item,.gWel-ico{
    display:inline-block;
    +display:inline;
    +zoom:1;
    vertical-align:middle
}

.gWel-mailInfo-list
.gWel-ico{
    position:absolute
}

.gWel-ico-plus{
    width:12px;
    height:12px;
    background-position:-160px 0
}
.gWel-ico-right{
    width:13px;
    height:13px;
    background-position:-128px 0
}

.gWel-ico-unread-top{
    background:url(../img/wel/unread-top.png) no-repeat;
    background-size:100% 100%;
    width:22px;
    height:8px;
    top:17px;
    left:13px;
    z-index:1
}
.gWel-ico-unread-letter{
    background-position:0 -240px;
    width:16px;
    height:6px;
    top:27px;
    left:16px;
    z-index:0
}

.gWel-ico-unread-bottom{
    background-position:0 -220px;
    width:24px;
    height:15px;
    top:18px;left:12px
}

.gWel-ico-todo{
    background-position:-30px -210px;
    width:22px;
    height:22px;
    top:13px;
    left:13px
}
.gWel-ico-todo-lhand{
    background-position:-57px -209px;
    width:18px;
    height:18px;
    top:15px;
    left:15px
}

.gWel-ico-todo-shand{
    background-position:-58px -223px;
    width:16px;
    height:16px;
    top:16px;
    left:16px
}

.gWel-ico-cnta{
    background-position:-80px -210px;
    width:18px;
    height:18px;
    top:13px;
    left:14px
}

.gWel-ico-cnta-star{
    background-position:-100px -210px;
    width:13px;
    height:13px;
    top:23px;
    left:24px
}

.gWel-ico-health{
    width:23px;
    height:18px;
    top:15px;
    left:13px
}

.gWel-ico-health-head{
    width:23px;
    height:5px
}

.gWel-ico-health-body{
    top:20px;
    width:23px;
    height:13px
}

.gWel-ico-health-err-head{background-position:-120px -210px}
.gWel-ico-health-err-body{background-position:-120px -216px}
.gWel-ico-health-suc-head{background-position:-150px -210px}
.gWel-ico-health-suc-body{background-position:-150px -216px}
.gWel-ico-lofter{background-color:#979797;position:absolute;background-image:none}
.gWel-ico-lofter-h{height:20px;width:4px;left:20px;top:14px}
.gWel-ico-lofter-v{height:4px;width:12px;left:20px;top:30px}
.gWel-tabs-list .nui-tabs-item{
    -webkit-transition-property:all;
       -moz-transition-property:all;
        -ms-transition-property:all;
         -o-transition-property:all;
            transition-property:all;
    -webkit-transition-duration:1s;
       -moz-transition-duration:1s;
        -ms-transition-duration:1s;
         -o-transition-duration:1s;
            transition-duration:1s
}
.gWel-greet-split-dot,.gWel-greet-split-icon{
    -webkit-transition-property:all;
    -moz-transition-property:all;
    -ms-transition-property:all;
    -o-transition-property:all;
    transition-property:all;
    -webkit-transition-duration:.5s;
    -moz-transition-duration:.5s;
    -ms-transition-duration:.5s;
    -o-transition-duration:.5s;
    transition-duration:.5s
}
.gWel-weather{
    -webkit-transition-property:width;
    -moz-transition-property:width;
    -ms-transition-property:width;
    -o-transition-property:width;
    transition-property:width;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    -ms-transition-duration:.3s;
    -o-transition-duration:.3s;
    transition-duration:.3s
}
.gWel-fHidden{position:absolute;left:0;top:0;opacity:0;z-index:0;filter:alpha(opacity=0)}
.gWel-tips{margin:6px 0;height:28px;line-height:28px;font-size:12px;padding-left:30px;color:#fff;border-radius:3px;position:relative;+zoom:1}
.gWel-tips-icon{position:absolute;left:10px;top:7px;line-height:0;font-size:0;vertical-align:middle}
.gWel-tips-center{padding:0}
.gWel-tips-center .gWel-tips-icon{position:relative;left:-4px;top:-3px}
.ua-osX .gWel-tips-center .gWel-tips-icon{top:2px}
.ua-ie6 .gWel-tips-center{line-height:normal;height:22px;padding-top:5px}
.ua-ie6 .gWel-tips-center .gWel-tips-icon{top:0}
.gWel-tips-close{position:absolute;right:0;top:0;line-height:normal}
.ua-ie6 .gWel-tips-close{top:6px}
.gWel-tips-close{padding:2px 6px;line-height:normal}
.gWel-tips-alert .gWel-tips-close{color:#999}
.gWel-tips-err .gWel-tips-close{color:#fff}
.gWel-tips-err{background-color:#C05757;border:1px solid #A64241}
.gWel-tips-err .gWel-ico{width:14px;height:15px;background-position:-64px 0}
.gWel-tips-alert .gWel-ico{width:14px;height:15px;background-position:-96px 0}
.gWel-tips-alert{background-color:#FFFFE1;border:1px solid #E7E7CD;color:#C7A17B}
.gWel-top{position:relative;+zoom:1;z-index:5}
.gWel-top-hasAvatar{padding-left:125px}
.gWel-avatar{padding:2px;border:1px solid #CDCDCD;border-radius:3px;position:absolute;left:0;top:16px;font-size:0;line-height:0;cursor:pointer}
.gWel-avatar-inner{font-size:12px;line-height:normal}
.gWel-greet{height:24px;font-size:16px;line-height:normal;position:relative;+zoom:1;padding-top:12px}
.gWel-top-hasAvatar .gWel-greet{padding-top:15px}
.gWel-greet-trueName{cursor:pointer;position:relative;z-index:2}
.gWel-greet-text{position:relative;z-index:2}
.gWel-greet-split{position:relative;+zoom:1}
.gWel-greet-split-dot{opacity:1;filter:alpha(opacity=100);font-weight:400}
.gWel-greet-split-icon{position:absolute;left:4px;top:6px;opacity:0;filter:alpha(opacity=0)}
.ua-ie8 .gWel-greet-split-icon{top:4px}
.ua-ie7 .gWel-greet-split-dot{position:relative;top:-1px;left:1px}
.ua-ie7 .gWel-greet-split-icon,.ua-ie6 .gWel-greet-split-icon{top:3px}
.gWel-greet-trueName-hover .gWel-greet-split-dot{opacity:0;filter:alpha(opacity=0)}
.ua-ie8 .gWel-greet-trueName-hover .gWel-greet-split-dot,.ua-ie7 .gWel-greet-trueName-hover .gWel-greet-split-dot,.ua-ie6 .gWel-greet-trueName-hover .gWel-greet-split-dot{visibility:hidden}
.gWel-greet-trueName-hover .gWel-greet-split-icon{opacity:1;filter:alpha(opacity=100)}
.gWel-greet .wg0{position:absolute;z-index:1;left:0;top:6px;opacity:0;filter:alpha(opacity=0)}
.gWel-greet .wg0 .nui-ipt-input{font-size:16px}.ua-ie6 .gWel-greet .wg0 .nui-ipt-input{font-size:12px}
.gWel-top-hasAvatar .gWel-greet .wg0{top:19px;left:-9px}
.gWel-greet-edit .wg0{opacity:1;filter:alpha(opacity=100)}
.gWel-greet-edit .gWel-greet-trueName{display:none}
.gWel-greet-edit{padding-left:210px}
.greet_pic_80x40{position:relative;+zoom:1;height:19px;padding-left:80px;display:none}
.greet_pic_80x40 img{position:absolute;left:0;top:-15px}
.gWel-mailInfo{margin-top:13px;height:90px}
.gWel-top-hasAvatar .gWel-mailInfo{height:85px}
.gWel-mailInfo-item{display:inline-block;+display:inline;+zoom:1;vertical-align:top;width:72px;text-align:center;cursor:pointer;position:relative;outline:0}
.gWel-mailInfo-ico{margin:0 auto;width:48px;height:48px;position:relative;background-position:0 -80px}
.gWel-mailInfo-item:hover .gWel-mailInfo-ico{background-position:0 -145px}
.gWel-mailInfo-txt{line-height:normal;padding-top:6px;color:#999;font-size:1.2em}
.gWel-mailInfo-unread{width:60px;text-align:left}
.gWel-mailInfo-unread .gWel-mailInfo-ico{margin:0}
.gWel-mailInfo-status{
    position:absolute;left:32px;top:0;background-color:#DB3434;color:#fff;border-radius:16px;min-width:10px;height:16px;padding:0 3px;
    line-height:16px;font-size:12px;text-align:center;vertical-align:top;font-family:arial!important
}
.ua-osX .gWel-mailInfo-status{font-family:inherit!important}
.gWel-mailInfo-lofter .gWel-mailInfo-status,.gWel-mailInfo-cnta .gWel-mailInfo-status,.gWel-mailInfo-todo .gWel-mailInfo-status{left:44px}
.gWel-mailInfo-alert{position:absolute;left:32px;top:0}
.gWel-mailInfo-health-err .gWel-mailInfo-alert{left:44px}
.gWel-mailInfo-unread:hover .gWel-ico-unread-top{height:6px;z-index:0;
    -webkit-animation:gWelUnread .7s ease-in-out;
    -webkit-transform-origin:center top;
    -webkit-transform:rotate(180deg);
    -moz-animation:gWelUnread .6s ease-in-out;
    -moz-transform-origin:center top;
    -moz-transform:rotate(180deg);
    -o-animation:gWelUnread .6s ease-in-out;
    -o-transform-origin:center top;
    -o-transform:rotate(180deg);
    -ms-animation:gWelUnread .6s ease-in-out;
    -ms-transform-origin:center top;
    -ms-transform:rotate(180deg);
    animation:gWelUnread .6s ease-in-out;
    transform-origin:center top;
    transform:rotate(180deg)
}
.ua-ie6 .gWel-mailInfo-unread:hover .gWel-ico-unread-top,
.ua-ie7 .gWel-mailInfo-unread:hover .gWel-ico-unread-top,
.ua-ie8 .gWel-mailInfo-unread:hover .gWel-ico-unread-top,
.ua-ie9 .gWel-mailInfo-unread:hover .gWel-ico-unread-top{height:8px}

@-webkit-keyframes gWelUnread{0%{height:8px;-webkit-transform:rotate(0deg);z-index:1}49%{height:0;-webkit-transform:rotate(0deg);z-index:1}50%{height:0;-webkit-transform:rotate(180deg);z-index:0}51%{height:1px;-webkit-transform:rotate(180deg);z-index:0}100%{height:6px;-webkit-transform:rotate(180deg);z-index:0}}
@-moz-keyframes gWelUnread{0%{height:8px;-moz-transform:rotate(0deg);z-index:1}49%{height:0;-moz-transform:rotate(0deg);z-index:1}50%{height:0;-moz-transform:rotate(180deg);z-index:0}51%{height:1px;-moz-transform:rotate(180deg);z-index:0}100%{height:6px;-moz-transform:rotate(180deg);z-index:0}}
@-o-keyframes gWelUnread{0%{height:8px;-o-transform:rotate(0deg);z-index:1}49%{height:0;-o-transform:rotate(0deg);z-index:1}50%{height:0;-o-transform:rotate(180deg);z-index:0}51%{height:1px;-o-transform:rotate(180deg);z-index:0}100%{height:6px;-o-transform:rotate(180deg);z-index:0}}
@-ms-keyframes gWelUnread{0%{height:8px;-ms-transform:rotate(0deg);z-index:1}49%{height:0;-ms-transform:rotate(0deg);z-index:1}50%{height:0;-ms-transform:rotate(180deg);z-index:0}51%{height:1px;-ms-transform:rotate(180deg);z-index:0}100%{height:6px;-ms-transform:rotate(180deg);z-index:0}}
@keyframes gWelUnread{0%{height:8px;transform:rotate(0deg);z-index:1}49%{height:0;transform:rotate(0deg);z-index:1}50%{height:0;transform:rotate(180deg);z-index:0}51%{height:1px;transform:rotate(180deg);z-index:0}100%{height:6px;transform:rotate(180deg);z-index:0}}

.gWel-mailInfo-unread:hover .gWel-ico-unread-letter{height:11px;top:14px;-webkit-transition:all .6s ease-in-out .2s;-moz-transition:all .6s ease-in-out .2s;-o-transition:all .6s ease-in-out .2s;-ms-transition:all .6s ease-in-out .2s;transition:all .6s ease-in-out .2s}
.ua-ie6 .gWel-mailInfo-unread:hover .gWel-ico-unread-letter,.ua-ie7 .gWel-mailInfo-unread:hover .gWel-ico-unread-letter,.ua-ie8 .gWel-mailInfo-unread:hover .gWel-ico-unread-letter,.ua-ie9 .gWel-mailInfo-unread:hover .gWel-ico-unread-letter{height:6px;top:27px}
.gWel-mailInfo-todo:hover .gWel-ico-todo-lhand{-webkit-transform:rotate(720deg);-webkit-transition:all 1s linear;-moz-transform:rotate(720deg);-moz-transition:all 1s linear;-o-transform:rotate(720deg);-o-transition:all 1s linear;-ms-transform:rotate(720deg);-ms-transition:all 1s linear;transform:rotate(720deg);transition:all 1s linear}
.gWel-mailInfo-todo:hover .gWel-ico-todo-shand{-webkit-transform:rotate(360deg);-webkit-transition:all 1s linear;-moz-transform:rotate(360deg);-moz-transition:all 1s linear;-o-transform:rotate(360deg);-o-transition:all 1s linear;-ms-transform:rotate(360deg);-ms-transition:all 1s linear;transform:rotate(360deg);transition:all 1s linear}
.gWel-mailInfo-cnta:hover .gWel-ico-cnta-star{-webkit-animation:gWelCnta 1.5s ease-in-out;-moz-animation:gWelCnta 1.5s ease-in-out;-o-animation:gWelCnta 1.5s ease-in-out;-ms-animation:gWelCnta 1.5s ease-in-out;animation:gWelCnta 1.5s ease-in-out}

@-webkit-keyframes gWelCnta{0%{-webkit-transform:rotate(0)}70%{-webkit-transform:rotate(360deg)}80%{-webkit-transform:rotate(350deg)}95%{-webkit-transform:rotate(370deg)}100%{-webkit-transform:rotate(360deg)}}
@-moz-keyframes gWelCnta{0%{-moz-transform:rotate(0)}70%{-moz-transform:rotate(360deg)}80%{-moz-transform:rotate(350deg)}95%{-moz-transform:rotate(370deg)}100%{-moz-transform:rotate(360deg)}}
@-o-keyframes gWelCnta{0%{-o-transform:rotate(0)}70%{-o-transform:rotate(360deg)}80%{-o-transform:rotate(350deg)}95%{-o-transform:rotate(370deg)}100%{-o-transform:rotate(360deg)}}
@-ms-keyframes gWelCnta{0%{-ms-transform:rotate(0)}70%{-ms-transform:rotate(360deg)}80%{-ms-transform:rotate(350deg)}95%{-ms-transform:rotate(370deg)}100%{-ms-transform:rotate(360deg)}}
@keyframes gWelCnta{0%{transform:rotate(0)}70%{transform:rotate(360deg)}80%{transform:rotate(350deg)}95%{transform:rotate(370deg)}100%{transform:rotate(360deg)}}

.gWel-mailInfo-health-err:hover .gWel-ico-health-head,.gWel-mailInfo-health-suc:hover .gWel-ico-health-head{margin-top:-1px;-webkit-animation:gWelHealth .8s ease-in-out;-moz-animation:gWelHealth .8s ease-in-out;-o-animation:gWelHealth .8s ease-in-out;-ms-animation:gWelHealth .8s ease-in-out;animation:gWelHealth .8s ease-in-out}

@-webkit-keyframes gWelHealth{0%{-webkit-transform:rotate(0deg);-webkit-transform-origin:right bottom;margin-top:0}39%{-webkit-transform:rotate(5deg);-webkit-transform-origin:right bottom;margin-top:0}40%{-webkit-transform:rotate(5deg);-webkit-transform-origin:left bottom;margin-top:-1px}75%{-webkit-transform:rotate(-10deg);-webkit-transform-origin:left bottom}100%{-webkit-transform:rotate(0deg);-webkit-transform-origin:left bottom}}
@-moz-keyframes gWelHealth{0%{-moz-transform:rotate(0deg);-moz-transform-origin:right bottom;margin-top:0}39%{-moz-transform:rotate(5deg);-moz-transform-origin:right bottom;margin-top:0}40%{-moz-transform:rotate(5deg);-moz-transform-origin:left bottom;margin-top:-1px}75%{-moz-transform:rotate(-10deg);-moz-transform-origin:left bottom}100%{-moz-transform:rotate(0deg);-moz-transform-origin:left bottom}}
@-o-keyframes gWelHealth{0%{-o-transform:rotate(0deg);-o-transform-origin:right bottom;margin-top:0}39%{-o-transform:rotate(5deg);-o-transform-origin:right bottom;margin-top:0}40%{-o-transform:rotate(5deg);-o-transform-origin:left bottom;margin-top:-1px}75%{-o-transform:rotate(-10deg);-o-transform-origin:left bottom}100%{-o-transform:rotate(0deg);-o-transform-origin:left bottom}}
@-ms-keyframes gWelHealth{0%{-ms-transform:rotate(0deg);-ms-transform-origin:right bottom;margin-top:0}39%{-ms-transform:rotate(5deg);-ms-transform-origin:right bottom;margin-top:0}40%{-ms-transform:rotate(5deg);-ms-transform-origin:left bottom;margin-top:-1px}75%{-ms-transform:rotate(-10deg);-ms-transform-origin:left bottom}100%{-ms-transform:rotate(0deg);-ms-transform-origin:left bottom}}
@keyframes gWelHealth{0%{transform:rotate(0deg);transform-origin:right bottom;margin-top:0}39%{transform:rotate(5deg);transform-origin:right bottom;margin-top:0}40%{transform:rotate(5deg);transform-origin:left bottom;margin-top:-1px}75%{transform:rotate(-10deg);transform-origin:left bottom}100%{transform:rotate(0deg);transform-origin:left bottom}}

.gWel-mailInfo-jifen:hover .gWel-ico-jifen-plus-1{-webkit-animation:gWelJifen 1s ease-in-out;-moz-animation:gWelJifen 1s ease-in-out;-ms-animation:gWelJifen 1s ease-in-out;-o-animation:gWelJifen 1s ease-in-out;animation:gWelJifen 1s ease-in-out}
.gWel-mailInfo-jifen:hover .gWel-ico-jifen-plus-2{-webkit-animation:gWelJifen 1s ease-in-out .4s;-moz-animation:gWelJifen 1s ease-in-out .4s;-ms-animation:gWelJifen 1s ease-in-out .4s;-o-animation:gWelJifen 1s ease-in-out .4s;animation:gWelJifen 1s ease-in-out .4s}
.gWel-mailInfo-jifen:hover .gWel-ico-jifen-plus-3{-webkit-animation:gWelJifen 1s ease-in-out .8s;-moz-animation:gWelJifen 1s ease-in-out .8s;-ms-animation:gWelJifen 1s ease-in-out .8s;-o-animation:gWelJifen 1s ease-in-out .8s;animation:gWelJifen 1s ease-in-out .8s}
.gWel-mailInfo-jifen:hover .gWel-ico-jifen-plus-4{-webkit-animation:gWelJifen 1s ease-in-out 1.2s;-moz-animation:gWelJifen 1s ease-in-out 1.2s;-ms-animation:gWelJifen 1s ease-in-out 1.2s;-o-animation:gWelJifen 1s ease-in-out 1.2s;animation:gWelJifen 1s ease-in-out 1.2s}
.gWel-mailInfo-jifen:hover .gWel-ico-jifen-plus-5{-webkit-animation:gWelJifen 1s ease-in-out 1.6s;-moz-animation:gWelJifen 1s ease-in-out 1.6s;-ms-animation:gWelJifen 1s ease-in-out 1.6s;-o-animation:gWelJifen 1s ease-in-out 1.6s;animation:gWelJifen 1s ease-in-out 1.6s}
.gWel-mailInfo-jifen:hover .gWel-ico-jifen-plus-6{-webkit-animation:gWelJifen 1s ease-in-out 2s;-moa-animation:gWelJifen 1s ease-in-out 2s;-ms-animation:gWelJifen 1s ease-in-out 2s;-o-animation:gWelJifen 1s ease-in-out 2s;animation:gWelJifen 1s ease-in-out 2s}@-webkit-keyframes gWelJifen{0%{opacity:0;-webkit-transform:rotate(0deg) scale(.2)}50%{opacity:1;-webkit-transform:rotate(-120deg) scale(.9)}100%{opacity:0;-webkit-transform:rotate(0deg) scale(.2)}}@-moz-keyframes gWelJifen{0%{opacity:0;-moz-transform:rotate(0deg) scale(.2)}50%{opacity:1;-moz-transform:rotate(-120deg) scale(.9)}100%{opacity:0;-moz-transform:rotate(0deg) scale(.2)}}@-ms-keyframes gWelJifen{0%{opacity:0;-ms-transform:rotate(0deg) scale(.2)}50%{opacity:1;-ms-transform:rotate(-120deg) scale(.9)}100%{opacity:0;-ms-transform:rotate(0deg) scale(.2)}}@-o-keyframes gWelJifen{0%{opacity:0;-o-transform:rotate(0deg) scale(.2)}50%{opacity:1;-o-transform:rotate(-120deg) scale(.9)}100%{opacity:0;-o-transform:rotate(0deg) scale(.2)}}@keyframes gWelJifen{0%{opacity:0;transform:rotate(0deg) scale(.2)}50%{opacity:1;transform:rotate(-120deg) scale(.9)}100%{opacity:0;transform:rotate(0deg) scale(.2)}}@-webkit-keyframes gWelLofter{0%{-webkit-transform:translate(0px)}25%{-webkit-transform:translate(-2px)}50%{-webkit-transform:translate(0px)}75%{-webkit-transform:translate(2px)}100%{-webkit-transform:translate(0px)}}@-moz-keyframes gWelLofter{0%{-moz-transform:translate(0px)}25%{-moz-transform:translate(-2px)}50%{-moz-transform:translate(0px)}75%{-moz-transform:translate(2px)}100%{-moz-transform:translate(0px)}}@-ms-keyframes gWelLofter{0%{-ms-transform:translate(0px)}25%{-ms-transform:translate(-2px)}50%{-ms-transform:translate(0px)}75%{-ms-transform:translate(2px)}100%{-ms-transform:translate(0px)}}@-o-keyframes gWelLofter{0%{-o-transform:translate(0px)}25%{-o-transform:translate(-2px)}50%{-o-transform:translate(0px)}75%{-o-transform:translate(2px)}100%{-o-transform:translate(0px)}}@keyframes gWelLofter{0%{transform:translate(0px)}25%{transform:translate(-2px)}50%{transform:translate(0px)}75%{transform:translate(2px)}100%{transform:translate(0px)}}
.gWel-mailInfo-lofter:hover .gWel-ico-lofter{-webkit-animation:gWelLofter .3s ease-in;-moz-animation:gWelLofter .3s ease-in;-ms-animation:gWelLofter .3s ease-in;-o-animation:gWelLofter .3s ease-in;animation:gWelLofter .3s ease-in}
.gWel-mailInfo-health-err .gWel-mailInfo-ico{background-position:-50px -80px}.gWel-mailInfo-health-err:hover .gWel-mailInfo-ico{background-position:-50px -145px}
.gWel-mailInfo-health-err .gWel-mailInfo-txt{color:#DDB0B0}
.gWel-mailInfo-health-suc .gWel-mailInfo-txt{color:#8EC4A6}
.gWel-mailInfo-health-suc .gWel-mailInfo-ico{background-position:-100px -80px}
.gWel-mailInfo-health-suc:hover .gWel-mailInfo-ico{background-position:-100px -145px}
.gWel-mailInfo-item:hover .gWel-mailInfo-txt,.gWel-mailInfo-item-hover .gWel-mailInfo-txt{color:#222}
.gWel-mailInfo-health-suc:hover .gWel-mailInfo-txt{color:#83B69A}
.gWel-mailInfo-health-err:hover .gWel-mailInfo-txt{color:#C79090}
.gWel-mailInfo-jifen .gWel-mailInfo-txt{white-space:nowrap}
.gWel-mailInfo-jifen .gWel-ico-jifen-plus{width:15px;height:15px;background-position:-300px -210px;top:0;left:0;opacity:0;filter:alpha(opacity=0)}
.gWel-mailInfo-jifen .gWel-ico-jifen-plus-1{left:25px;top:22px}
.gWel-mailInfo-jifen .gWel-ico-jifen-plus-2{left:7px;top:18px}
.gWel-mailInfo-jifen .gWel-ico-jifen-plus-3{left:17px;top:19px}
.gWel-mailInfo-jifen .gWel-ico-jifen-plus-4{left:8px;top:8px}
.gWel-mailInfo-jifen .gWel-ico-jifen-plus-5{left:11px;top:24px}
.gWel-mailInfo-jifen .gWel-ico-jifen-plus-6{left:17px;top:11px}
.gWel-mailInfo-jifen-level1 .gWel-mailInfo-ico{background-position:-150px -80px}
.gWel-mailInfo-jifen-level1:hover .gWel-mailInfo-ico{background-position:-150px -145px}
.gWel-mailInfo-jifen-level1 .gWel-ico-jifen{background-position:-180px -210px;width:22px;height:22px;top:13px;left:13px}
.gWel-mailInfo-jifen-level1 .gWel-ico-jifen-plus{}
.gWel-mailInfo-jifen-level2 .gWel-mailInfo-ico{background-position:-200px -80px}
.gWel-mailInfo-jifen-level2:hover .gWel-mailInfo-ico{background-position:-200px -145px}
.gWel-mailInfo-jifen-level2 .gWel-ico-jifen{background-position:-210px -210px;width:23px;height:18px;top:16px;left:13px}
.gWel-mailInfo-jifen-level2 .gWel-ico-jifen-plus{background-position:-320px -210px}
.gWel-mailInfo-jifen-level3 .gWel-mailInfo-ico{background-position:-250px -80px}
.gWel-mailInfo-jifen-level3:hover .gWel-mailInfo-ico{background-position:-250px -145px}
.gWel-mailInfo-jifen-level3 .gWel-ico-jifen{background-position:-240px -210px;width:22px;height:18px;top:16px;left:13px}
.gWel-mailInfo-jifen-level3 .gWel-ico-jifen-plus{background-position:-340px -210px}
.gWel-mailInfo-jifen-level4 .gWel-mailInfo-ico{background-position:-300px -80px}
.gWel-mailInfo-jifen-level4:hover .gWel-mailInfo-ico{background-position:-300px -145px}
.gWel-mailInfo-jifen-level4 .gWel-ico-jifen{background-position:-270px -210px;width:26px;height:19px;top:16px;left:11px}
.gWel-mailInfo-jifen-level4 .gWel-ico-jifen-plus{background-position:-360px -210px}
.gWel-weather{position:absolute;right:-13px;top:2px;width:240px;outline:0;z-index:3}
.gWel-weather-info .tommorow{display:none}
.gWel-weather-info .tommorow img{width:64px;height:64px;margin:4px auto 11px}
.gWel-weather-info .today img{width:100px;height:100px}
.gWel-weather-wrapper{overflow:hidden}
.gWel-weather-default .gWel-weather-info{position:relative;height:114px}
.gWel-weather-default .gWel-weather-address{font-size:12px;line-height:normal;position:absolute;top:31px;right:110px;width:120px;text-align:right}
.gWel-weather-default .address-txt{color:#222!important;padding:0!important}
.gWel-weather-default .gWel-weather-info .temp{color:#8F9295;font-size:12px;line-height:normal;position:absolute;top:52px;right:110px}
.gWel-weather-default .gWel-weather-info .temp .desc{display:inline}
.gWel-weather-expand .gWel-weather-info .temp .desc{display:none}
.gWel-weather-default .gWel-weather-info .icon{position:absolute;top:7px;right:7px}
.gWel-weather-default .gWel-weather-footer .quality{position:absolute;position:absolute;top:72px;right:110px;line-height:normal;color:#999}
.gWel-weather-default .gWel-weather-footer .quality .from{display:none}
.gWel-weather-default .gWel-weather-footer-old .quality{position:absolute;position:absolute;top:72px;right:110px;line-height:normal;color:#999}
.gWel-weather-default .gWel-weather-footer-old .quality .from{display:none}
.gWel-weather-expand{width:442px;border:1px solid #B2B2B2;background-color:#fff;box-shadow:0 0 2px 1px RGBA(0,0,0,.1);background-color:#fff;border-radius:3px;z-index:5}
.gWel-weather-address .address-date,.gWel-weather-address .address-edit{display:none}
.gWel-weather-expand .gWel-weather-address{padding:10px 0 16px 16px;line-height:normal}
.gWel-weather-expand .address-txt{cursor:pointer;position:relative;+zoom:1;line-height:normal}
.gWel-weather-expand .address-edit{line-height:0;font-size:0;display:block;opacity:1;filter:alpha(opacity=100);cursor:pointer;position:absolute;right:-10px;top:8px}
.ua-noYahei .gWel-weather-expand .address-edit{top:6px}
.gWel-weather-expand .address-date{display:inline;color:#999;padding-left:15px}
.gWel-weather-info .date{display:none}
.gWel-weather-expand .gWel-weather-info{position:relative;+zoom:1;height:180px}
.gWel-weather-info .desc{display:none}
.gWel-weather-expand .gWel-weather-info .desc{display:block}
.gWel-weather-expand .date{height:30px;line-height:30px;padding-top:5px;display:block}
.gWel-weather-expand .icon{line-height:0;font-size:0}
.gWel-weather-expand .today{width:201px;text-align:center;color:#333;border-right:1px solid #F2F2F2}
