#始终忽略

*.swp
*.swo
*.err
*.diff
*.sass-cache
*.ruby-version
*.db
*.zip
#OSX忽略
.DS_Store

#忽略以下文件
.idea/
.tmp/
.sass-cache/
node_modules/
bower_components/
test/bower_components
dist/
build/

#忽略服务器hook
update.php
