<extend name="./Public/tmpl/index_base.html" />
<block name="title">话费充值记录</block>
<block name="custom_top_css"><link href="/Public/static/style/ylb-ucenter.css" rel="stylesheet"/></block>
<block name="custom_content">
    <!--start: breadcrumb -->
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="/User">个人中心</a></li>
                <li class="active"><a href="">话费充值</a></li>
            </ol>
        </div>
    </div>
    <!--end: breadcrumb -->
    <div class="container">
        <div class="ucenter clearfix">
            <aside class="col-xs-2 col-md-2 aside" sup="Account">
                <div class="aside-body">
                    <dl class="box-shadow">
                        <include file="./Public/tmpl/User/aside-menu.html" keywords="side-menu-mobcharge" />
                    </dl>
                </div>
            </aside>
            <article class="col-xs-10 col-md-10 article">
                <div class="article-body box-shadow">
                    <div class="padding-lg">
                        <h2>话费充值</h2>
                        <hr />
                        <div class="row">

                    <div class="col-md-5">
                        <div class="padding-sm border-solid" id="form-wrap">
                          <form class="form-horizontal" method="POST" action="/User/Show/addMobCharge">
                            <input type="hidden" name="from_page" value="/User/Show/listMobCharge">
                            <p class="alert alert-warning">
                              在您提交充值请求过后, 我们将会在第一时间给您处理充值，您可以在右侧列表查看您的充值记录。
                            </p>
                            <div class="form-group" style="padding-bottom:10px;">
                                <label class="col-sm-3 control-label">手机号： </label>
                                    <div class="col-sm-8 controls">
                                    <input class="form-control" type="text" name="phone_number" value="{$user.phone}">
                                </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label">金 额： </label>
                              <div class="col-sm-9 controls">
                                <label class="radio-inline"><input name="fee_much" id="fee_much_10" type="radio" value="10" checked>10 元 </label>
                                <label class="radio-inline"><input name="fee_much" id="fee_much_20" type="radio" value="20">20 元</label><br />
                                <label class="radio-inline"><input name="fee_much" id="fee_much_50" type="radio" value="50">50 元</label>
                                <label class="radio-inline"><input name="fee_much" id="fee_much_100" type="radio" value="100">100 元</label>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="controls col-sm-offset-3">
                                <input type="submit" class="btn btn-warning btn-small ajax-mobcharge" value="确认充值" />
                              </div>
                            </div>
                          </form>
                        </div>
                    </div>

                    <div class="col-md-7">
                      <h4>充值记录</h4>
                      <table class="table table-hover border-solid mobcharge-list" id="table-responsive-1">
                        <thead>
                          <tr>
                            <th style="width: 100px">时间</th>
                            <th style="width: 100px">手机号</th>
                            <th style="width: 100px;" class="text-right">金额(元)</th>
                            <th style="width: 100px;" class="text-right">状态</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="pre-load">
                            <td colspan=4 class="text-center">
                              加载中....
                            </td>
                          </tr>
                          <script type="text/html" id="mobcharge-list">
                            {{if null == data || "undefined" == typeof data || data.length == 0}}
                              <tr class="never-charge">
                                <td colspan=4 class="text-center">
                                  没有数据...
                                </td>
                              </tr>
                            {{else}}
                              {{each data as item}}
                                <tr>
                                  <td title="{{item.detail_time}}">{{item.time}}</td>
                                  <td>{{item.phone_number}}</td>
                                  <td class="text-right"> {{item.much}}</td>
                                  <td class="text-right">
                                    {{if item.is_charged == 1}}
                                      <font color='#1AA53B'>成功</font>
                                    {{else if item.is_charged == -1}}
                                      <font color='#8D5E48'> 请求被拒绝 </font>
                                    {{else if item.is_charged == 0}}
                                      <font color='#CCC'> 请等待充值 </font>
                                    {{/if}}
                                  </td>
                                </tr>
                              {{/each}}
                              {{if null != data && "undefined" != typeof data && data.length >= 15}}
                                <tr class="pre-load">
                                  <td colspan=4>
                                    <a href="javascript:void(0);" class="btn btn-primary btn-normal btn-block load-more">加载更多</a>
                                  </td>
                                </tr>
                              {{/if}}
                            {{/if}}
                          </script>
                        </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</block>

<block name="custom_bottom_js" >
<script src="__PUBLIC__/static/lib/artTemplate/template.js"></script>
<include file="./Public/tmpl/User/mob_charge_common.html"/>
<script type="text/javascript">
  $(document).ready(function(){
    $("#CaptchaImage").click(function() {
      $("#CaptchaImage").attr("src", "/User/auth/verify/" + 1);
    });
    $.mobcharge();
  });
  (function($){
    $.page = 1;
    $.tpl = {
      mobcharge_list: template.compile( $('#mobcharge-list').html() )
    };
    $.mobcharge_refresh = function(){
      if( "undefined" === typeof page ) page = 1;
      $.getJSON('/User/Show/listMobChargeJSON?page=' + $.page, function(json){
        $('.pre-load').hide();
        if( $.page > 1 && json.data.length == 0 ) return false;
        $('table.mobcharge-list tbody').append( $.tpl.mobcharge_list(json) );
        $.page ++;
        $('.load-more').on('click', function(){
          if($(this).hasClass('loading'))return false;
          $(this).addClass('loading');
          $.mobcharge_refresh();
        });
      });
    };
    $.mobcharge_refresh( 1 );
  })(window.jQuery);
</script>
</block>



