/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top:1px solid #f00;
}
.ylb-logo,.ylb-logo b,.ylb-logo i{transition: all 1s ease 0s;}
.ylb-logo,.ylb-logo b{border-radius:50%;}
.ylb-logo{width:100px;height:100px;position:relative;overflow:hidden;float:left;
    -moz-animation-duration:5s;
    /*box-shadow:5px 7px 5px rgba(0,0,0,.2);*/
    /*
    -webkit-animation-name: newArrowAni1;
    -webkit-animation-duration:5s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-name: newArrowAni1;
    -moz-animation-iteration-count:infinite;*/
}
.ylb-logo .squares{display:block;width:25%;height:25%;background:#fba300;position:relative;
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
    left:37.8%;top:37.8%;
}

.ylb-logo b{display:block;width:100%;height:100%;background:#267fb8;position:absolute;}
.ylb-logo b.border-lt{left:-53%;top:-47%;}
.ylb-logo b.border-lr{right:-53%;top:-47%;}
.ylb-logo b.border-br{right:-53%;bottom:-47%;}
.ylb-logo b.border-bl{left:-53%;bottom:-47%;}

.ylb-logo-title{float:left;padding:0 20px;}
.ylb-logo-title h1{font-size:3em;margin:15px 0 0;font-family:"方正综艺_GBK";font-weight:normal;}
.ylb-logo-title span{font-size:12px;}

@-webkit-keyframes newArrowAni1{
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes newArrowAni1{
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes newArrowAni1{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}